.align-right {
  text-align: right;
}

.cb-style {
  border: 3px solid #ccc;
  padding: 1em;
  border-radius: 5px;
}

// Forms

.form {
  width: 100%;
}

.form-control {
  width: 100% !important;
}

textarea.form-control {
  height: 200px;
  resize: vertical !important;
}
